p{
    color:orange;
}
img{
    border-style:dotted;
     width:200px;
     height:100px;
}
ul{
    font-family: 'Spicy Rice', cursive;
}
body{
    background-image: url("https://i.ytimg.com/vi/_vQkPPh6JRw/maxresdefault.jpg");
}
